@import "@openedx/paragon/scss/core/core";

.course-list-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.course-list-title {
  font-size: $h2-font-size;
  margin: map-get($spacers, 3) 0;
}

.course-list-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.course-filter-controls-container {
  text-align: right;
  align-self: center;
}

// Course Search Bar
.course-search-container {
  max-width: 600px;
  margin: map-get($spacers, 3) 0;

  .course-search-bar {
    width: 100%;

    .course-search-input {
      width: 100%;

      input {
        padding: map-get($spacers, 2);
        font-size: 0.9rem;
        border-radius: 0.375rem;
      }
    }
  }
}

// No search results message
.no-search-results {
  text-align: center;
  padding: map-get($spacers, 5) map-get($spacers, 3);
  color: $gray-600;
  font-size: 1rem;

  p {
    margin: 0;
    font-style: italic;
  }
}

@include media-breakpoint-down(md) {
  .course-list-heading-container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .course-filter-controls-container {
    text-align: left;
    align-self: flex-start;
  }

  .course-list-title {
    font-size: $h3-font-size;
    margin: map-get($spacers, 2) 0;
  }

  .course-search-container {
    max-width: 100%;
  }
}
